<div class="bar">

	{{#each openTabs}}
		<span class=" button {{#if this.focus}} focus {{/if}}" tab="{{this.id}}">
		{{this.name}}

		{{#if this.focus}}
		<span closeTab="{{this.id}}" class="subbutton close"> x </span>
		{{/if}}

		{{#if this.notifications}}<span tab="{{this.id}}" class="subbutton alert"> {{this.notifications}} </span>{{/if}}

		</span>
	{{/each}}

	<span class="button add" add="" >+</span>
</div>
<style>

/*
	container
*/
.bar {
	background-color: #BDBDBD;
	height: 40px;
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

/*
	button = each clickable tab
*/
.button {
	position: relative;
	float: left;
	background: white;
	color: #ABABAB;
	height: 38px;
	padding: 0 10px;
	margin-top: 1px;
	margin-right: 1px;
	line-height: 40px;
	cursor: pointer;
	font-size: 18px;
	-webkit-app-region: no-drag;
}
.button.focus {
	color: #525252;
	font-weight: 400;
	background-color: white;
	border-bottom: solid 1px white;
}
.button.focus:hover {
	color: #373737;
	background-color: white;
}
.button:hover {
	color: white;
	background-color: #4E4E4E;
}
.button.add {
	padding: 0 15px;
	background-color: white;
}
.button.add:hover {
	background-color: #4E4E4E;
}

/*
	buttons inside buttons, yo
*/
.subbutton {
	font-size: 12px;
	width: 15px;
	height 10px;
	position: absolute;
	right: 0px;
	padding-bottom: 5px;
	line-height: 10px;
	text-align: center;
	font-weight: 500;
	-webkit-app-region: no-drag;
}
.subbutton.close {
	color: #929292;
	top: 0px;
}
.subbutton.close:hover {
	color: white;
	background-color: #E43A13;
}
.subbutton.alert {
	padding-top: 5px;
	padding-left: 3px;
	padding-right: 3px;
	right: 10px;
	background-color: #FF4545;
	border-radius: 50%;
	color: white;
	top: 30px;
}

</style>