<div class="menu">

	{{#each openTabs}}
		<span class=" tab {{#if this.focus}} focus {{/if}}" tab="{{this.id}}">

			{{this.name}}

			{{#if this.focus}}
			<span closeTab="{{this.id}}" class="subbutton close"> x </span>
			{{/if}}

			{{#if this.notifications}}
				<span class="subbutton alert" tab="{{this.id}}"> {{this.notifications}} </span>
			{{/if}}

		</span>
	{{/each}}

	<span class="tab add" add="" >+</span>

</div>

<style>

/*
	container
*/
.menu {
	height: 39px;
	-webkit-user-select: none;
	-webkit-app-region: drag;
	border-bottom: solid 1px #BDBDBD;
}

/*
	tabs
*/
.menu .tab {
	position: relative;
	float: left;
	background-color: white;
	color: #ABABAB;
	height: 39px;
	padding: 0 10px;
	line-height: 40px;
	cursor: pointer;
	font-size: 20px;
	font-weight: 400;
	-webkit-app-region: no-drag;
	border-bottom: solid 1px #BDBDBD;
	border-right: solid 1px #BDBDBD;
}
.menu .tab:hover {
	color: #969696;
}

.menu .tab.focus {
	color: #717171;
	border-bottom: solid 1px white;
}
.menu .tab.focus:hover {
	color: #373737;
}

.menu .tab.add {
	padding: 0 15px;
	border-bottom: solid 1px #BDBDBD;
}
.menu .tab.add:hover {
	color: white;
	background-color: #4E4E4E;
}

/*
	buttons inside tab
*/
.menu .subbutton {
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
	text-align: center;
	width: 15px;
	height: 15px;
	position: absolute;
	-webkit-app-region: no-drag;
}
.menu .subbutton.close {
	left: 0;
	top: 0px;
	color: #717171;
}
.menu .subbutton.close:hover {
	color: white;
	background-color: #E43A13;
}
.menu .subbutton.alert {
	right: 10px;
	background-color: white;
	border-radius: 50%;
	color: #ABABAB;
	top: 31px;
	border: solid 1px #BDBDBD;
}

</style>