<div id="{{id}}">
	
	<div class="messageContainer">
		{{#each messages}}
			<div class="msg">
				<span class="leftColumn">
					<span class="username message {{this.flag}}">{{this.nick}}</span>
				</span> 
				<span class="rightColumn">
					<span class="text message {{this.flag}}">{{this.text}}</span>
				</span>
			</div>
		{{/each}}
	</div>

	<div class="footer">
		<span user={{nick}} class="userID">{{nick}}</span>
		<input class="chat_input"></input>
	</div>

</div>

<style>

/*
	footer
*/
#{{id}} .footer {
	height: 39px;
	border-top: solid 1px #D4D4D4;
}
#{{id}} .chat_input {
	box-sizing: border-box;
	float: right;
	width: calc(100% - 141px);
	height: 39px;
	padding: 0 20px;
	border: 0;
	outline: none;
}
#{{id}} .userID {
	float: left;
	width: 138px;
	height: 39px;
	line-height: 39px;
	text-align: right;
	color: #4A4A4A;
	cursor: pointer;
}

/*
	messages container
*/
#{{id}} .messageContainer {
	box-sizing: border-box;
	width: 100%;
	top: 40px;
	overflow-y: auto;
	height: calc(100% - 80px);
	padding-top: 50px;
}

/*
	messages
*/
#{{id}} .msg {
	word-wrap: break-word;
	max-width: 100%;
	float: left;
	clear: both;
}
#{{id}} .leftColumn {
	float: left;
    width: 150px;
}
#{{id}} .rightColumn {
	float: right;
    width: calc(100% - 150px);
}
#{{id}} .message.username {
	float: right;
	clear: both;
	color: #9A9A9A;
}
#{{id}} .message.text {
	float: left;
	clear: both;
	width: calc(100% - 20px);
}
#{{id}} .message {
	padding: 6px 10px;
	color: #505050;
	font-weight: 400;
	font-size: 16px;
}

/* 
	messages flags 
*/
#{{id}} .message.warning {
	color: #FF4A4A;
}
#{{id}} .username.isUser {
	color: #5C5C5C;
}
#{{id}} .message.userNickChange {
	color: #D0D0D0;
}
#{{id}} .message.userQuit {
	color: #D0D0D0;
}
#{{id}} .message.userLeft {
	color: #D0D0D0;
}
#{{id}} .message.ziggyJoined {
	color: #D0D0D0;
}
#{{id}} .message.userJoined {
	color: #D0D0D0;
}
#{{id}} .message.messageConnecting {
	color: #D0D0D0;
}

</style>