	<div class="menu_template bar">
	  	{{#each openTabs}}
	  		<span class="menu_template button {{#if this.focus}} focus {{/if}}" tab="{{this.id}}">
	  			{{this.id}} 
	  			<span closeTab="{{this.id}}" class="menu_template subbutton close"> x </span>
	  			<span tab="{{this.id}}" class="menu_template subbutton alert"> {{this.alerts}} </span>
	  		</span>
	  	{{/each}}

	  	<span class="menu_template button add" add="" >+</span>
	</div>
	<style>
		.menu_template.subbutton {
			color: white;
			width: 15px;
			height 15px;
			position: absolute;
			right: 2px;
			line-height: 15px;
			text-align: center;
		}
		.menu_template.subbutton.close {
			background-color: #F1DCDC;
			top: 2px;
		}
		.menu_template.subbutton.close:hover {
			background-color: #E65B5B;
		}
		.menu_template.subbutton.alert {
			top: 20px;
		}
		.menu_template.bar {
			background-color: #929292;
			height: 40px;
			color: white;
			-webkit-user-select: none;
		}
		.menu_template.button {
			position: relative;
			display: inline-block;
			background-color: #D0D0D0;
			line-height: 40px;
			height: 100%;
			padding: 0 5px;
			padding-right: 20px;
			cursor: pointer;
		}
		.menu_template.button.focus {
			color: #848484;
			background-color: white;
		}
		.menu_template.button.focus:hover {
			color: #848484;
			background-color: white;
		}
		.menu_template.button:hover {
			color: white;
			background-color: #4E4E4E;
		}
		.menu_template.button.add {
			margin-left: 5px;
			padding: 0 16px;
			background-color: #7D7D7D;
		}
		.menu_template.button.add:hover {
			background-color: #4E4E4E;
		}
	</style>