<div id="{{id}}">

	{{!-- subtabs --}}
	<span class="subTabs">
		{{#each subTabs}}
			<span class="subTab" settingsSubtab="{{this}}">
				{{this}}
			</span>
		{{/each}}
	</span>

	{{#each settings}}
		<div class="row">
			<input type="text" placeholder="nick" value ={{this}}>
		</div>
	{{/each}}

	{{#if settings}}
		<div class="row"> 
			<span class="save">submit</span> 
		</div>
	{{/if}}

	{{#unless settings}}
		<div class="row">
			no settings.
		</div>
	{{/unless}}

</div>
	
<style>

/*
	subTab
*/

#{{id}} .subTabs {
	display: inline-block;
	text-align: center;
	border: solid 1px #BDBDBD;
}
#{{id}} .subTab {
	background-color: #D8D8D8;
	position: relative;
	float: left;
	color: #ABABAB;
	height: 40px;
	padding: 0 10px;
	line-height: 40px;
	cursor: pointer;
	font-size: 20px;
	font-weight: 400;
}
#{{id}} .subTab:hover {
	background-color: #FFFFFF;
}

/*
	containers
*/
#{{id}} {
	text-align: center;
	padding-top: 3%;
}
#{{id}} .row {
	margin: 20px;
}

/*
	inputs
*/
#{{id}} input {
	font-size: 14px;
	color: #7D7D7D;
	background-color: white;
	border: solid 1px #DCDCDC;
	width: 400px;
	height: 60px;
	outline: none;
	padding: 0 20px;
}
#{{id}} input:focus{
	color: #6B6B6B;
}

/*
	save buttom
*/
#{{id}} .save {
	font-size: 20px;
	color: white;
	line-height: 60px;
	display: inline-block;
	width: 400px;
	height: 60px;
	background-color: #B7B7B7;
	cursor: pointer;
}
#{{id}} .save:hover {
	background-color: #A7A7A7;
}

</style>