<form id="{{id}}">

	{{#if alert}}<div class="alert {{alert.flag}}">{{alert.message}}</div>{{/if}}

	<div class="row"> 
		<input type="text" id="formNick" placeholder="nick" value ={{nick}}>  
	</div>

	<div class="row"> 
		<input type="text" id="formServer" placeholder="server" value="irc.freenode.net">  
	</div>

	<div class="row"> 
		<input type="text" id="formChannel" placeholder="channel" value="#learnjavascript">  
	</div>

	<div class="row"> 
		<span id="formSubmit">submit</span> 
	</div>

</form>
	
<style>

/*
	alert and flags
*/
#{{id}} .alert {
	padding: 10px;
}
#{{id}} .alert.warning {
	background: #FFEFA2;
}
#{{id}} .alert.error {
	background: #EEB0B6;
}

/*
	containers
*/
#{{id}} {
	text-align: center;
	padding-top: 3%;
}
#{{id}} .row {
	margin: 20px;
}

/*
	form inputs
*/
#{{id}} input {
	font-size: 14px;
	color: #7D7D7D;
	background-color: white;
	border: solid 1px #DCDCDC;
	width: 400px;
	height: 60px;
	outline: none;
	padding: 0 20px;
}
#{{id}} input:focus{
	color: #6B6B6B;
}

/*
	submit form buttom
*/
#{{id}} #formSubmit {
	font-size: 20px;
	color: white;
	line-height: 60px;
	display: inline-block;
	width: 400px;
	height: 60px;
	background-color: #B7B7B7;
	cursor: pointer;
}
#{{id}} #formSubmit:hover {
	background-color: #A7A7A7;
}

</style>