<div id="TAB_ROOM">

	{{#each messages}}
		<div class="msg">
			<span class="leftColumn">
				<span class="username message {{this.flag}}">{{this.nick}}</span>
			</span> 
			<span class="rightColumn">
				<span class="text message {{this.flag}}">{{this.text}}</span>
			</span>
		</div>
	{{/each}}

</div>

<span class="userID">{{nick}}</span>
<input class="chat_input"></input>

<style>
.msg {
	word-wrap: break-word;
	max-width: 100%;
	float: left;
	clear: both;
}
.leftColumn {
	float: left;
    width: 150px;
}
.rightColumn {
	float: right;
    width: calc(100% - 150px);
}
.message.username {
	float: right;
	clear: both;
	color: #9A9A9A;
}
.message.text {
	float: left;
	clear: both;
	width: calc(100% - 20px);
}
.message {
	padding: 6px 10px;
	color: #505050;
	font-weight: 400;
	font-size: 16px;
}

#TAB_ROOM {
	box-sizing: border-box;
	width: 100%;
	top: 40px;
	overflow-y: auto;
	height: calc(100% - 80px);
	padding-top: 50px;
}

.userID {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 140px;
	height: 39px;
	line-height: 40px;
	text-align: right;
	color: #4A4A4A;
	border-top: solid 1px #D4D4D4;
	border-right: solid 1px #E3E3E3;
}

/*
	main input
*/
.chat_input {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	right:0;
	width: calc(100% - 140px);
	height: 40px;
	padding: 0 20px;
	border: 0;
	border-top: solid 1px #D4D4D4;
	outline: none;
}

/* 
	flags 
*/
.username.isUser {
	/*todo*/
}
.message.userNickChange {
	color: #349ACF;
}
.message.userQuit {
	color: #FF4646;
}
.message.userLeft {
	color: #FF4646;
}
.message.ziggyJoined {
	color: #1ECA49;
}
.message.userJoined {
	color: #1ECA49;
}
.message.messageConnecting {
	color: #EC9351;
}

</style>